@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
}
#login-form
{
	margin-top:4.3em;
}
table
{
	border:solid #dcdcdc 0.06em;
	padding:1.56em;
	box-shadow: 0em 0em 0.06em rgba(0,0,0,0.2);
}
table tr,td
{
	padding:1em;
	//border:solid #e1e1e1 0.06em;
}
table tr td input
{
	width:97%;
	height:2.8em;
	border:solid #e1e1e1 0.06em;
	border-radius:0.2em;
	padding-left:0.62em;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 0.06em rgba(0,0,0,0.4);
}

table tr td button
{
	width:100%;
	height:2.8em;
	border:0px;
	background:rgba(12,45,78,11);
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:0.2em;
	box-shadow: 0.06em 0.06em 0.06em rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	font-weight:bolder;
	text-transform:uppercase;
}
table tr td button:active
{
	position:relative;
	top:0.06em;
}
table tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
}

/* css for home page  */

*
{
	margin:0;
	padding:0;
}
#header
{
	width:100%;
	height:3.75em;
	background:#228B22;
	color:#FFFAFA;
	font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
	float:left;
	position:relative;
}
#header #left label
{
	position:relative;
	top:0.3125em;
	left:6.25em;
	font-size:2.2em;
}
#header #right
{
	float:right;
	position:relative;
}
#header #right #content
{
	position:relative;
	top:1.25em;
	right:6.25em;
	color:#FFFAFA;
}
#header #right #content a
{
	font-size:1.2em;
	color:#2F4F4F;
}


#body
{
	text-align:center;
	margin-top:9.4em;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1.3em;
}

/* css for home page */
.db-table tr th {
	font-size: 1.2em;
	
}

.db-table tr td {
	font-size: 1em;
	color: #580000;
	border: 0.06em solid black;
}
.db-table  th  td {
	table-layout:fixed;
   border: 0.06em solid black;
   
}
th, td {
    border-bottom: 0.06em solid #ddd;
}
.db-table {
    width: 80%;
	
}
th {
    height: 3.125em;
	 text-align: left;
}
tr:hover {background-color: #D0D0D0  }


#search, 
#submit {
    float: left;
}

#search {
    padding: 0.3em 0.56em;
    height: 1.4em;
    width: 23.75em;
    border: 0.06em solid #a4c3ca;
    font: normal 0.8em 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 3.125em 0.2em 0.2em 3.125em;
    box-shadow: 0 0.06em 0.2em rgba(0, 0, 0, 0.25) inset, 0 0.06em 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 0.2em 3.125em 3.125em 0.2em;    
    border-width: 0.06em;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 0.06em rgba(0, 0, 0, 0.3), 
                0 0.09em 0 rgba(255, 255, 255, 0.3) inset;
    height: 2.2em;
    margin: 0 0 0 0.625em;
    padding: 0;
    width: 5.6em;
    cursor: pointer;
    font: bold 0.875em Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 0.06em 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 0.06em 0.25em rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}



user agent stylesheet
input[type="button" i], 
input[type="submit" i],
 input[type="reset" i], 
 input[type="file" i]::-webkit-file-upload-button,
 button {
	 background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 0.2em 3.125em 3.125em 0.2em;    
    border-width: 0.06em;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 0.06em rgba(0, 0, 0, 0.3), 
                0 0.06em 0 rgba(255, 255, 255, 0.3) inset;
    height: 2.2em;
    margin: 0 0 0 0.625em;
    padding: 0;
    width: 5.625em;
    cursor: pointer;
    font: bold 0.875em Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 0.06em 0 rgba(255,255,255,0.5);
    padding: 0.06em 0.375em;
}



